<div class="container-fluid mt-20 ">
    <div class="row">
        <!-- menu left -->
        <div class="col-md-2 ">
            <ul class="navbar-nav mr-auto my-3">
                <li class="nav-item active">
                    <a class="nav-link" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Appetizer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dessert</a>
                </li>
            </ul>
        </div>
        <!--end menu left -->



        <!-- menu center -->
        <div class="col-md-7 " style="overflow: overlay; height: 90vh;">
            <div class="row">

                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/drink-2.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                              <img class="card-img-top" src="./assets/img/appetizer.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                        <img class="card-img-top" src="./assets/img/Dessert.png" alt="card image">
                    </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/food/food_02.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/food/food_01.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/food/food_03.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/drink-1.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/drink-1.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="./assets/img/drink-2.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                              <img class="card-img-top" src="./assets/img/appetizer.png" alt="card image">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                        <img class="card-img-top" src="./assets/img/Dessert.png" alt="card image">
                    </div>
                        <div class="card-body text-center">
                            <h4 class="card-title ">Sunlimetech</h4>
                            <p class="card-text font-weight-bold">25.000 đ</p>
                            <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end menu center -->


        <!-- menu right -->
        <div class="col-md-3 minicart p-0">
            <h2 class="nav-link mt-3 text-center">Order</h2>
            <div class="input-group mb-3  px-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Type</label>
                </div>
                <select class="custom-select" id="" (change)="selectChangeCus($event)">
                    <option *ngFor="let customer of Customers; let i = index" [value]="customer.name" [selected]="i == 0">
                    {{customer.name}}
                    </option>
                </select>
                <!-- <span>You selected: </span><b>{{selectedCustomer}}</b> -->

                <div class="input-group-prepend">
                    <label class="input-group-text">Room</label>
                </div>
                <select class="custom-select" id="" (change)="selectChangeRoom($event)">

                    <option *ngFor="let room of Rooms; let i = index" [value]="room.name">
                    {{room.name}}
                    </option>
                </select>
                <!-- <span>You selected: </span><b>{{selectedRoom}}</b> -->

            </div>


            <form>
                <div class="form-row px-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                </div>
            </form>




            <div class="mini-cart-bottom">
                <div class="prod">
                    <div class="product-cart">

                        <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                                        <img src="./assets/img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 500,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#" title="chì kẻ mắt Kohl">
                                        <img src="./assets/img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 70,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                                        <img src="./assets/img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 500,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#" title="chì kẻ mắt Kohl">
                                        <img src="./assets/img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 70,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                                        <img src="./assets/img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 500,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#" title="chì kẻ mắt Kohl">
                                        <img src="./assets/img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 70,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                                        <img src="./assets/img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 500,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>
                 
                 
                        <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                            <li class="d-flex">
                                <div class="thumb-img-cartmini">
                                    <a href="#" title="chì kẻ mắt Kohl">
                                        <img src="./assets/img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                                    </a>
                                </div>
                                <div class="product-detail">
                                    <h3 class="product-name-mini">
                                        <a href="#">Bò hầm rau củ </a>
                                    </h3>
                                    <div class="product-info">
                                        <div class="product-quanity">Số lượng : 1</div>
                                        <div class="product-price">
                                            <span class="price-sale">Giá : 70,000 ₫</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="produc-remove">
                                    <a class="close delete-cart-item" title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ol>


                    </div>
                </div>
                


                <div class="sub-total">
                    <span class="total-title float-left">Tổng tiền:</span>
                    

                    <span class="total-price float-right">570,000 ₫</span>
                </div>
                <div class="action-checkout">
                    <a href="/gio-hang" title="Giỏ hàng của bạn" class="btn-cosmetic button-viewcart">
                        <span>In hóa đơn</span>
                    </a>
                    <a href="/thanh-toan" title="Thanh toán" class="btn-cosmetic button-checkout">
                        <span>Thanh toán</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end menu right -->

    </div>
</div>
