      <form [formGroup]="customer" (ngSubmit)="onSubmit(customer.value)">
        <div class="row">
          <div class="col-md-6">
            <h3 class="ml-5 mt-4">Thông Tin Người Đại Diện </h3>
            <br>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="">Họ Tên</label>
                <input type="text" class="form-control" formControlName="name" placeholder="vd: nguyễn văn a...">
              </div>
              <div class="form-group col-md-4">
                <label for="">Số điện thoại</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="vd: 0123456">
              </div>

              <div class="form-group col-md-4">
                <label for="">CMND</label>
                <input type="text" class="form-control" formControlName="cmnd" placeholder="vd: 0123456">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" placeholder="1234 Main St">
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label >Phòng số</label>
                <select class="form-control"  (change)="selectChange($event)">
                  <option *ngFor="let room of listAllRoom; let i = index" [value]="room.RoomName" [selected]="i==1">
                    {{room.RoomName}}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputCity">Thời gian đến</label>
                <input type="datetime-local" step="1" [attr.value]="string_arrivalTime" class="form-control"
                  id="timeArrival">
              </div>
              <div class="form-group col-md-6">
                <label for="inputZip">Thời gian đi</label>
                <input type="datetime-local" step="1" [attr.min]="string_arrivalTime" class="form-control"
                  id="timeaLeave">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="ml-5 mt-4 mb-4">Thông Tin Người Đi Cùng </h3>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="">Họ Tên</label>
                <input type="text" class="form-control" (input)="onInput_nameChild_Change($event.target.value)"
                  placeholder="vd: nguyễn văn a...">
              </div>
              <div class="form-group col-md-4">
                <label for="">Số điện thoại</label>
                <input type="text" class="form-control" (input)="onInput_phoneChild_Change($event.target.value)"
                  placeholder="vd: 0123456">
              </div>

              <div class="form-group col-md-4">
                <label for="">Ngày Sinh</label>
                <input type="date" class="form-control" (input)="onInput_dobChild_Change($event.target.value)">
              </div>
              <a (click)="addtable()" class="btn btn-success form-control text-white"> <i class="fa fa-plus"></i> Thêm
              </a>
            </div>

            <div class="table-height">
              <table class="table table-fixed">
                <thead>
                  <tr>
                    <th scope="col">Họ Tên</th>
                    <th scope="col">SDT</th>
                    <th scope="col">Ngày Sinh</th>
                    <th scope="col">Xóa</th>

                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let value of list_customerChild">
                    <tr>
                      <td>{{value.name}}</td>
                      <td>{{value.phone}}</td>
                      <td>{{value.dateofbirth}}</td>
                      <td>
                        <a (click)="deleteItem(value)" title="Xóa">
                          <i class="fa fa-trash text-danger"></i>
                        </a>
                      </td>
                    </tr>
                  </ng-container>


                </tbody>
              </table>

            </div>

          </div>
        </div>



        <div class="mt-5 text-center">
          <button type="submit" class="w-100 btn btn-primary ">Xác Nhận Đặt Phòng</button>

        </div>
      </form>
