<div class="row">



  <div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-outline-success btn-lg btn-block  mb-2">Phòng
      Sạch( Phòng Trống ) <span class="badge badge-success">4 </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-dark btn-lg btn-block  mb-2">Phòng Bẩn
      <span class="badge badge-dark">4 </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-danger btn-lg btn-block  mb-2">Phòng
      Đang Sửa <span class="badge badge-danger">4 </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-warning btn-lg btn-block  mb-2">Phòng
      Có Người Đặt <span class="badge badge-warning">4 </span> </button>
  </div>

  <div class="col-12">
    <div class="row overflow-auto text-center">
      <div *ngFor="let room of listAllRoom" class="col-lg-2 col-md-3 col-sm-6 col-12 mb-3">

        <!-- XANH -->
        <div *ngIf="(room.Status == 0)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id"
            class="btn btn-success w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.IdRoom}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade bd-example-modal-lg" [attr.id]="'room'+room._id" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-success" id="exampleModalLongTitle">Phòng {{room.IdRoom}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="">
                    <div class="form-row text-left">
                      <div class="form-group col-md-4">
                        <label for="">Họ Tên</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="vd: nguyễn văn a...">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="">Số điện thoại</label>
                        <input type="text" class="form-control" id="inputsdt" placeholder="vd: 0123456">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="">CMND</label>
                        <input type="text" class="form-control" id="inputsdt" placeholder="vd: 0123456">
                      </div>
                    </div>
                    <div class="form-group text-left">
                      <label for="inputAddress">Địa chỉ</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>

                    <div class="form-row text-left">
                      <div class="form-group col-md-2">
                        <label for="inputState">Loại phòng</label>
                        <select id="inputState" class="form-control">
                          <option>VIP</option>
                          <option>thường</option>

                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputState">Phòng số</label>
                        <select id="inputState" class="form-control">
                          <option>100</option>
                          <option>200</option>

                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputCity">Thời gian đến</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputZip">Thời gian đi</label>
                        <input type="datetime-local" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          wifi
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          ăn sáng miễn phí
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          ăn sáng trả phí
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- VANG -->
        <div *ngIf="(room.Status == 1)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id"
            class="btn btn-warning w-100">
            <div class="card-body text-white font-weight-bold">
              <h5 class="card-title"> {{room.IdRoom}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade" [attr.id]="'room'+room._id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-warning" id="exampleModalLongTitle">Phòng {{room.IdRoom}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DO -->
        <div *ngIf="(room.Status == 2)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id" class="btn btn-danger w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.IdRoom}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade" [attr.id]="'room'+room._id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="exampleModalLongTitle">Phòng {{room.IdRoom}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- DEN -->
        <div *ngIf="(room.Status >= 3)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id" class="btn btn-dark w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.IdRoom}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade" [attr.id]="'room'+room._id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLongTitle">Phòng {{room.IdRoom}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-3">
        <div class="card">
          <div class="card-body bg-warning">
            <h5 class="card-title">101</h5>
            <p class="card-text">VIP

            </p>
            <p class="card-text">
              Đến: 11:22:66 25/05/2019
            </p>
            <p class="card-text">
              Đi: 11:22:66 25/05/2019
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
