<div class="row">



  <div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-outline-success btn-lg btn-block  mb-2">Phòng
      Sạch( Phòng Trống ) <span class="badge badge-success">{{phongtrong}} </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-warning btn-lg btn-block  mb-2">Phòng
      Có Người Đặt <span class="badge badge-warning">{{phongconguoidat}} </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-dark btn-lg btn-block  mb-2">Phòng Bẩn
      <span class="badge badge-dark">{{phongban}} </span> </button>
  </div>
  <div class="col-md-3  col-sm-3">
    <button type="button" class="btn btn-outline-danger btn-lg btn-block  mb-2">Phòng
      Đang Sửa <span class="badge badge-danger">{{phongdangsua}} </span> </button>
  </div>

  <div class="col-12">
    <div class="row overflow-auto text-center">
      <div *ngFor="let room of listAllRoom" class="col-lg-2 col-md-3 col-sm-6 col-12 mb-3">

        <!-- XANH -->
        <div *ngIf="(room.Status == 1)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id"
            class="btn btn-success w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.RoomName}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade bd-example-modal-lg" [attr.id]="'room'+room._id" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-success" id="exampleModalLongTitle">Phòng {{room.RoomName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-success">Phòng {{room.RoomName}} hiện chưa có người ở</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- VANG -->
        <div *ngIf="(room.Status == 2)">
          <button type="button" (click)="onClickMe(room.RoomName)" data-toggle="modal"
            [attr.data-target]="'#room'+ room._id" class="btn btn-warning w-100">
            <div class="card-body text-white font-weight-bold">
              <h5 class="card-title"> {{room.RoomName}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade bd-example-modal-lg" [attr.id]="'room'+room._id" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-warning" id="exampleModalLongTitle">Phòng {{room.RoomName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="">
                    <div class="form-row text-left">
                      <div class="form-group col-md-4">
                        <label for="">Họ Tên</label>
                        <input type="name" class="form-control" [attr.id-cus]="id" [attr.value]="name">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="">Số điện thoại</label>
                        <input type="text" class="form-control" id="inputsdt" [attr.value]="phone">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="">CMND</label>
                        <input type="text" class="form-control" id="inputcmnd" [attr.value]="identtityCard">
                      </div>
                    </div>
                    <div class="form-group text-left">
                      <label for="inputAddress">Địa chỉ</label>
                      <input type="text" class="form-control" id="inputAddress" [attr.value]="address">
                    </div>

                    <div class="form-row text-left">
                      <div class="form-group col-md-4">
                        <label for="inputCity">Thời gian đến</label>
                        <input type="datetime-local" class="form-control" [attr.value]="string_arrivalTime" disabled>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputZip">Thời gian đi</label>
                        <input type="datetime-local" class="form-control" [attr.min]="string_arrivalTime"
                          [attr.value]="string_leaveTime">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h5>Thông tin người đi cùng</h5>

                        <div class="table-height">
                          <table class="table table-fixed">
                            <thead>
                              <tr>
                                <th scope="col">Họ Tên</th>
                                <th scope="col">SDT</th>
                                <th scope="col">Ngày Sinh</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let value of iD_relationship">
                                <tr>
                                  <td>{{value.Name}}</td>
                                  <td>{{value.Phone}}</td>
                                  <td>{{value.DateOfBirth}}</td>

                                </tr>
                              </ng-container>


                            </tbody>
                          </table>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <h5>Thông tin dịch vụ</h5>
                        <div class="table-height">
                          <table class="table table-fixed">
                            <thead>
                              <tr>
                                <th scope="col">Tên Dịch Vụ</th>
                                <th scope="col">Giá</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let value of iD_service">
                                <tr>
                                  <td>{{value.Name}}</td>
                                  <td>{{value.Price}}</td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DO -->
        <div *ngIf="(room.Status == 3)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id" class="btn btn-danger w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.RoomName}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade" [attr.id]="'room'+room._id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="exampleModalLongTitle">Phòng {{room.RoomName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-danger">Phòng {{room.RoomName}} hiện đang sửa </h3>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- DEN -->
        <div *ngIf="(room.Status >= 4)">
          <button type="button" data-toggle="modal" [attr.data-target]="'#room'+ room._id" class="btn btn-dark w-100">
            <div class="card-body font-weight-bold">
              <h5 class="card-title"> {{room.RoomName}}</h5>
              <p class="card-text">VIP</p>
            </div>
          </button>
          <div class="modal fade" [attr.id]="'room'+room._id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLongTitle">Phòng {{room.RoomName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-dark">Phòng {{room.RoomName}} hiện chưa vệ sinh</h3>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
