<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>404 Error - SB Admin</title>
  <link href="./css/style.min.css" rel="stylesheet">
  <link href="./css/style1.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous">
  </script>
</head>

<body class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5 pl-5" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="nhahang.html">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="letan.html">Receptionist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manager</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-md-0">
        <button type="button" class="btn btn-outline-manager">Primary</button>
      </form>
    </div>
  </nav>


  
  <div class="container-fluid mt-20 ">
    <div class="row">

      <div class="col-md-2 ">
        <ul class="navbar-nav mr-auto my-3">

          <li class="nav-item active">
            <a class="nav-link" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Appetizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dessert</a>
          </li>
        </ul>
      </div>
      <div class="col-md-7 " style="    overflow: overlay; height: 90vh;">
        <div class="row">

          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body text-center">

                <p>
                  <img class="img-fluid" src="./img/food/food_01.png" alt="card image" width=150px>
                </p>
                <h4 class="card-title ">Sunlimetech</h4>
                <p class="card-text font-weight-bold">25.000 đ</p>
                <button type="button" class="text-center w-75 btn btn-outline-manager"> Add to cart </button>

              </div>
            </div>
          </div>




        </div>
      </div>
      <div class="col-md-3 minicart p-0">
        <h1 class="nav-link mt-3 text-center">Order</h1>
   
        <div class="input-group mb-3  px-3">
          <div class="input-group-prepend">
            <label class="input-group-text" >Customer Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1" selected>One</option>
            <option value="2">Two</option>
          </select>
        </div>
      
      
        <div class="input-group mb-3  px-3">
          <div class="input-group-prepend">
            <label class="input-group-text" >Room</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1" selected>One</option>
          </select>
        </div>

        <div class="mini-cart-bottom">
          <div class="prod">
            <div class="product-cart">

              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="49" data-product="49">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#n" title="Tinh chất dưỡng tóc miseen">
                      <img src="./img/food/food_01.png" title="Tinh chất dưỡng tóc miseen" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 500,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>
              <ol class="list-unstyled mb-0" data-row="48" data-product="48">
                <li class="d-flex">
                  <div class="thumb-img-cartmini">
                    <a href="#" title="chì kẻ mắt Kohl">
                      <img src="./img/food/food_01.png" title="chì kẻ mắt Kohl" class="">
                    </a>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-name-mini">
                      <a href="#">Bò hầm rau củ </a>
                    </h3>
                    <div class="product-info">
                      <div class="product-quanity">Số lượng : 1</div>
                      <div class="product-price">
                        <span class="price-sale">Giá : 70,000 ₫</span>
                      </div>
                    </div>
                  </div>
                  <div class="produc-remove">
                    <a class="close delete-cart-item" title="Xóa">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </li>
              </ol>


            </div>
          </div>
          <div class="sub-total">
            <span class="total-title float-left">Tổng tiền:</span>
            <span class="total-price float-right">570,000 ₫</span>
          </div>
          <div class="action-checkout">
            <a href="/gio-hang" title="Giỏ hàng của bạn" class="btn-cosmetic button-viewcart">
              <span>Giỏ hàng của bạn</span>
            </a>
            <a href="/thanh-toan" title="Thanh toán" class="btn-cosmetic button-checkout">
              <span>Thanh toán</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 

  <script src="./js/scripts.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>

</html>
