<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous">
  </script>
  <link href="./css/style.min.css" rel="stylesheet">
  <link href="./css/style1.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5 pl-5" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="nhahang.html">Restaurant</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="letan.html">Receptionist</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="quanly.html">Manager</a>

        </li>

      </ul>
      <form class="form-inline my-2 my-md-0">
        <a type="button" class="btn btn-outline-manager" href="login.html"><span>Login</span></a>


      </form>
    </div>
  </nav>

  <div class="container-fluid mt-20 ">
    <div class="row">

      <div class="col-md-2 ">
        <ul class="navbar-nav mr-auto my-3">

          <li class="nav-item ">
            <a class="nav-link" href="quanly.html">Room Diagram</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="quanly-baocaohoatdong.html">Activity Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Monthly Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Schedule work</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 " style="overflow: overlay; height: 100vh;">
        <button class="btn btn-primary" type="button">In báo cáo</button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <script src="./js/scripts.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>


</html>
