<nav class="navbar navbar-expand-lg navbar-light bg-light rounded fixed-top">
  <a class="ml-5 navbar-brand" href="#"> <img src="./assets/img/logoname.png" width="150px"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
    aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  pl-5" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/restaurant']">Restaurant</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/receptionist/room-diagram']">Receptionist</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/manager']">Manager</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-md-0">

      <button type="button" data-toggle="modal" data-target="#ModalLogin" class="btn btn-outline-manager mr-3">
        <span>Login</span>
      </button>
      <button type="button" data-toggle="modal" data-target="#ModalRegister" class="btn btn-manager">
        <span>Register</span>
      </button>

    </form>

  </div>
</nav>

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Login</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="small mb-1" for="inputEmailAddress">Email</label>
            <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />
          </div>
          <div class="form-group">
            <label class="small mb-1" for="inputPassword">Password</label>
            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />
          </div>

          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small"></a>
            <a class="btn btn-primary btn-block " href="index.html">Login</a>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="small"><a class="text-danger" data-toggle="modal" data-target="#ModalRegister"
            data-dismiss="modal">Need an account? Register!</a></div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog" aria-labelledby="ModalRegisterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Create Account</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group"><label class="small mb-1" for="inputFirstName">First Name</label><input
                  class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter first name" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="small mb-1" for="inputLastName">Last Name</label><input
                  class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name" /></div>
            </div>
          </div>
          <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input
              class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp"
              placeholder="Enter email address" /></div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input
                  class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" /></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm
                  Password</label><input class="form-control py-4" id="inputConfirmPassword" type="password"
                  placeholder="Confirm password" /></div>
            </div>
          </div>
          <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="login.html">Create Account</a>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="small"><a class="text-danger" data-toggle="modal" data-target="#ModalLogin"
            data-dismiss="modal">Have an account? Go to login</a></div>
      </div>
    </div>
  </div>
</div>
