.mt-20 {
  margin-top: 100px;
}

a:hover {
  text-decoration: none;
}

.nav-item {
  margin-left: 50px;
}

.nav-item .nav-link {
  font-family: "Segoe UI", serif;
  font-weight: bold;
  font-size: 18px;
  color: #697c94 !important;
}

.nav-item.active > .nav-link {
  color: #f76b65 !important;
}

h1 {
  font-family: "Cooper Black", serif !important;
}

h1 p {
  margin-bottom: 0 !important;
}

.container-2 {
  padding-left: 15rem;
  padding-right: 15rem;
}

.card-index {
  color: #697c94 !important;
}

.btn-outline-manager {
  color: white;
  background-color: #f76b65;
}

.btn-outline-manager:hover {
  color: #f76b65;
  background-color: white;
  border-color: #f76b65;
}

.card-text,
.card-title {
  font-family: "Segoe UI", serif;
}

.minicart {
  background-color: #f7f7f7;
}

.minicart .mini-cart-bottom .prod {
  position: relative;
  height: calc(100vh - 162px);
  max-height: 100%;
  overflow: auto;
  padding: 0 20px;
}

.minicart .mini-cart-bottom .prod .product-cart {
  overflow: hidden;
  position: relative;
  text-align: left;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li {
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 20px 0;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .thumb-img-cartmini {
  width: 25% !important;
  border: 1px solid #eee;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .thumb-img-cartmini img {
  max-width: 100%;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .product-detail {
  width: 70%;
  padding-left: 20px;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .product-detail .product-name-mini {
  line-height: 16px;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .product-detail .product-name-mini a {
  font-size: 13px;
  text-align: justify;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .product-detail .product-info .product-quanity {
  font-size: 13px;
  font-weight: 500;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .product-detail .product-info .product-price .price-sale {
  font-size: 14px;
  font-weight: 500;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .produc-remove {
  width: 15%;
}

.minicart .mini-cart-bottom .prod .product-cart .list-unstyled li .produc-remove .close {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 19px;
  right: 0;
  color: #333;
  text-decoration: none;
}

.minicart .mini-cart-bottom .sub-total {
  height: 59px;
  line-height: 59px;
  background-color: #fff;
  color: #000;
  padding: 0 40px;
  overflow: hidden;
  bottom: 60px;
  position: absolute;
  width: 100%;
  max-width: 100%;
}

.minicart .mini-cart-bottom .sub-total .total-title {
  font-size: 14px;
  font-weight: 600;
}

.minicart .mini-cart-bottom .sub-total .total-price {
  width: auto;
  font-weight: 600;
  display: block;
  color: #eb747b;
}

.minicart .mini-cart-bottom .action-checkout .button-viewcart {
  border: none;
  width: 50%;
  float: left;
  text-align: center;
  height: 60px;
  line-height: 35px;
  background-color: #2a2a2a;
}

.minicart .mini-cart-bottom .action-checkout .button-checkout {
  border: none;
  width: 50%;
  float: left;
  text-align: center;
  height: 60px;
  line-height: 35px;
  background-color: #000;
}

.btn-cosmetic {
  outline: none;
  font-size: 14px;
  padding: 12px 20px 14px;
  line-height: 1;
  background-color: #eb747b;
  color: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #eb747b;
  cursor: pointer;
}

.btn-cosmetic:hover {
  background-color: #eb747b !important;
  color: #fff !important;
}
/*# sourceMappingURL=style1.css.map */